# ─── LLM ───────────────────────────────────────────────────
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GROQ_MODEL=llama3-70b-8192

# ─── EMBEDDINGS ────────────────────────────────────────────
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# ─── MONGODB ───────────────────────────────────────────────
MONGODB_URI=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MONGODB_DB=eduai

# ─── CHROMADB ──────────────────────────────────────────────
CHROMA_PATH=./chromadb_data

# ─── AUTH ──────────────────────────────────────────────────
JWT_SECRET=change_this_to_a_long_random_secret_key_in_production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440

# ─── EXTERNAL APIs ─────────────────────────────────────────
YOUTUBE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_SEARCH_ENGINE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# ─── MLFLOW ────────────────────────────────────────────────
MLFLOW_TRACKING_URI=http://localhost:5001
MLFLOW_EXPERIMENT=EduAI

# ─── BACKEND ───────────────────────────────────────────────
BACKEND_URL=http://localhost:8000

# ─── ANTI-SPOOF MODEL ──────────────────────────────────────
ANTISPOOF_MODEL_PATH=./models/antispoof_fullmodels.pkl
FACE_ENCODINGS_PATH=./models/ENcodedFile.p
